body {
    background:url(https://cdn.redtomato.fun/upload/2023/04/3j5tbkq4emg41qfa1uc6o23cct.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}

//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.5;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}

//文章背板的颜色rgb
.main-inner > .sub-menu, .main-inner > .post-block, .main-inner > .tabs-comment, .main-inner > .comments, .main-inner > .pagination{
	background: #F5F5F5;		//此处使用十六进制颜色代码，			也可以使用rgba进行调色，
    						//实际效果为白色透明色底板				rgba的第四参数即为透明度
}
