body {
    background:url(https://cdn.redtomato.fun/upload/2023/04/3j5tbkq4emg41qfa1uc6o23cct.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}